@font-face{
    font-family: Lato-Regular;
    src: url(assets/fonts/LatoLatin/LatoLatin-Regular.woff)
}
@font-face{
    font-family: Lato-Black;
    src: url(assets/fonts/LatoLatin/LatoLatin-Black.woff)
}
@font-face{
    font-family: Lato-Bold;
    src: url(assets/fonts/LatoLatin/LatoLatin-Bold.woff);
}
@font-face{
    font-family: Lato-Light;
    src: url(assets/fonts/LatoLatin/LatoLatin-Light.woff);
}
@-moz-document url-prefix() {
    h2 {
      font-weight: lighter !important;
    }
    h1 {
        font-weight: lighter !important;
      }
      p {
        font-weight: lighter !important;
      }
      button{
        font-weight: lighter !important;
        padding: 5px;
      }
     
  }
body{
    padding: 0;
    margin: 0 auto;
    max-width: 1020px;
    background-color: cadetblue;
}
.getQuote{
    padding: 0;
    margin: 0 auto;
    max-width: 1020px;
    height: 648px;
    background-color: #f06c64;
    margin-top: -32px;
    
}
.containerQuote{
    padding: 0;
    margin: 0 auto;
    max-width: 940px;
}
.containerQuote h1{
    font-family: "Lato-Bold";
    font-size: 30px;
    color: #F0D8D9;
    padding-top: 64px;
    word-spacing: -2.1px;
    letter-spacing: 0.35px;
}
.containerQuote p{
    font-family: "Lato-Light";
    font-size: 18px;
    color: #F0D8D9;
    margin-top:-12px;
    line-height:30px;
    word-spacing: -0.35px;
    
}
.getQuoteContent{
    display: grid;
    grid-template-columns: 66% 34%;
    column-gap: 20px;
}
.getQuoteInputs{
    margin-top: 14px;
    display: grid;
    row-gap: 5px;
   
}
.getQuoteInputs input{
    width: 100%;
    background-color: transparent;
    border: none;
    line-height: 6px;
   
}

div{
    margin: 0;
    padding-left: 15px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    display: flex;
    align-self: center;
}